html, body {
  padding: 0;
  border: 0;
  margin: 0;
  #font: inherit;
  font-size: 100%;
}

.header {
  font-family: Arial, "new times roman";
  color: #ff9933;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  background: #808080;
  padding: 10px 10px 10px 10px;
  width: 700px;
  margin: 40px auto 40px auto;
}
.h1 {
  font-family: arial, "new times roman";
  text-align: center;
  color: #ffffff;
  font-size: 100%;
  margin: 10px;
  border-bottom: 2px solid #aaaaaa;
}
.h2 {
  font-family: arial, "new times roman";
  text-align: center;
  color: #ffffff;
  font-size: 50%;
  margin: 10px;
  border-bottom: 2px solid #aaaaaa;
}

.p {
  font-family: arial, "new times roman";
  text-align: center;
  color: #ffffff;
  font-size: 12;
  margin: 10px;
  border-bottom: 2px solid #aaaaaa;
}

