/*html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}

.title {
  text-align: center;
  margin: auto;
  font-size: 70px;
  background: #99ffcc;
  font-family: arial, serif
  
}
.submit {
  text-align: center;
  font-size: 20px;
  
}
.box {
  text-align: center;
 
  font-size: 20px;
}
h1 {
  font-size: 50px;
  font-family: arial, serif;
  border-bottom: 1px solid #000000;
   
}
body {
  background: #5f5f5f;
  background-image: url(1107059836txrxzl.jpg);
}*/

